
<section class="cid-rba4WTzNh8 mbr-parallax-background" >



  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgba(252,252,252,0.99);">
  </div>
  <div class="container text-center">
    <div class="col-md-12 col-sm-12">
      <h1 class="plan-title mbr-section-title mbr-fonts-style display-2"><span style="font-weight: bold">Follow me</span>:</h1>
    </div>
    <div class="social-media col-md-12 col-sm-12">
      <ul>
        <li>
          <a class="icon-transition" href="https://www.facebook.com/bidoud.amine/">
            <i class="fa fa-facebook-square" ></i>
          </a>
        </li>
        <li>
          <a class="icon-transition" href="https://www.instagram.com/aminebidoud/">
            <i class="fa fa-instagram"></i>
          </a>
        </li>
        <li>
          <a class="icon-transition" href="https://www.linkedin.com/in/amine-b-92400b127/">
            <i class="fa fa-linkedin-square" ></i>
          </a>
        </li>
        <li>
          <a class="icon-transition" href="https://www.behance.net/aminebidoud">
            <i class="fa fa-behance-square" ></i>
          </a>
        </li>

      </ul>
    </div>

    <div class="row">
      <p class="footer-text col-md-12 col-sm-12 mbr-fonts-style mbr-text display-7">© Amine Bidoud {{date.getFullYear()}}</p>
    </div>
  </div>
  <div class="container-fluid flex-grow-1 flex-shrink-0">
    <div class="px-lg-5">
      <div class="row py-5">
        <div class="col-lg-12 mx-auto text-white text-center">
          <a routerLink="contact-me"><button class="btn contact" style="background-color: rgb(0,0,0);color: white;box-shadow:none">Contact Me</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
