
<section class="cid-rba0ILMWXs" id="header5-2">
  <div class="container text-center" data-stellar-background-ratio=".5">
    <div class="row">
      <div class="col-md-7">
        <div class="slider-text-two">
          <h2 class="mbr-section-title hello mbr-fonts-style mbr-bold align-center display-1">
            HELLO
          </h2>
          <h3 class="mbr-section-subtitle mbr-fonts-style align-center display-5">
            I'm Bidoud AMINE , Freelance Designer
          </h3><h3>
        </h3><h4 class="mbr-text mbr-fonts-style align-center display-7" style="font-size: 20px">
          Creative and passionate graphic and perspective designer, I mobilize my expertise and know-how in the service of a high-end service. My goal is to meet your needs with unique and original 3D illustrations, tailor-made and meticulous work to enhance your projects. Support and permanent exchange, from the design phase to the implementation of your intentions.
        </h4>
          <div class="mbr-section-btn"><a class="btn-primary btn btn-md display-4" type="submit" routerLink="/contact-me" style="box-shadow: none">HIRE ME</a></div>
        </div>
      </div>
    </div>
  </div>
</section>
