<div class="services-section">

    <div class="inner-width">
      <h1 class="section-title">My Services</h1>
      <div class="border"></div>
      <div class="services-container">
        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-car"></i>
          </div>
          <div class="service-title">Car Design</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-building"></i>
          </div>
          <div class="service-title">Architecture</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-product-hunt"></i>
          </div>
          <div class="service-title">Product Design</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-industry"></i>
          </div>
          <div class="service-title ">industrial 3d modeling</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-paint-brush"></i>
          </div>
          <div class="service-title">low poly art</div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>

        <div class="service-box">
          <div class="service-icon">
            <i class="fa fa-plane"></i>
          </div>
          <div class="service-title"><strong>Aircrafts</strong></div>
          <div class="service-desc">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
          </div>
        </div>
      </div>
    </div>


</div>
